
######################################################################################
#####  このSampleファイルにはパスワードやトークンなどの情報を絶対に書き込まないこと  ######

[GITHUB]
user: {$your username}
pw: {$your password}
access_token: {$your access token}
